# Ignore build artifacts
*.exe
*.out
*.o
*.obj
*.a
*.so
*.dylib
moodplayer

# Ignore VS Code settings and tasks
.vscode/
.vscode/settings.json
.vscode/tasks.json

# Ignore Mac system files
.DS_Store

# Ignore logs or temp files
*.log
*.tmp
*.temp
*.bak
output_melody.txt
